{% extends 'base.html' %}

{% block title %}Філії{% endblock %}

{% block content %}

<h1>Філії</h1>

<div class="card">
    <h3>Додати філію</h3>

    <form method="POST">
        {% csrf_token %}

        <div>
            <label>Назва:</label>
            <input type="text" name="name" required>
        </div>

        <div>
            <label>Місто:</label>
            <input type="text" name="city">
        </div>

        <div>
            <label>Адреса:</label>
            <input type="text" name="address">
        </div>

        <br>

        <button type="submit" class="btn btn-green">
            Додати
        </button>
    </form>
</div>

<h2>Список філій</h2>

<table>
    <thead>
        <tr>
            <th>Назва</th>
            <th>Місто</th>
            <th>Адреса</th>
            <th>Статус</th>
        </tr>
    </thead>

    <tbody>
        {% for branch in branches %}
        <tr>
            <td>{{ branch.name }}</td>
            <td>{{ branch.city }}</td>
            <td>{{ branch.address }}</td>
            <td>
                <span class="badge badge-comp">Активна</span>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Філій немає.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}