{% extends 'base.html' %}
{% block title %}Головна{% endblock %}
{% block content %}

<h1>Вітаємо, {{ request.user.first_name }}!</h1>

<h2>Ваш розклад:</h2>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Предмет</th>
            <th>Статус</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.date|date:"d.m.Y" }}</td>
            <td>{{ lesson.start_time|time:"H:i" }} - {{ lesson.end_time|time:"H:i" }}</td>
            <td>{{ lesson.subject.name }}</td>
            <td>
                {% if lesson.status == 'COMPLETED' %}
                    <span class="badge badge-comp">Проведено</span>
                {% elif lesson.status == 'CANCELLED' %}
                    <span class="badge badge-canc">Скасовано</span>
                {% else %}
                    <span class="badge badge-sched">Заплановано</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'mark_attendance' lesson.id %}" class="btn btn-blue">Відмітити</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Уроків поки немає.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}